<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NSMonitor.Properties.Settings>
            <setting name="BgColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="FgColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="UseMegabits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SumAllActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidthPx" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="LeftPx" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TopPx" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AdapterId" serializeAs="String">
                <value />
            </setting>
        </NSMonitor.Properties.Settings>
    </userSettings>
</configuration>